.btn-group {
    float: inline-end;
    min-height: 38px;
    margin-left: 10px
}

.btn-group .btn {
        border-color: black;
        border-style: solid;
}

.btn-group .btn:hover {
        background-color: #17a2b8;
        color:white;
}

.dataTables_length {
    float: left;
}

.btn span {
    display: inline-block;
    padding-top: 0.3rem;
}
